{% extends "base.html" %}

{% block head_title %}Team all 4 one{% endblock %}

{% block navi %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">Log Out</a></li>
        {% else %}
            <li><a href="{% url 'home' %}">Log In</a></li>
        {% endif %}
            <li><a href="{% url 'home' %}">Sign Up</a></li>
    {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Hi {{ user.email }}!</p>
    {% else %}
        <p>You are not logged in</p>
    {% endif %}

{% endblock %}